# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Some Popular languages for data science
- Some Commonly used libraries for data science
- Commonly used data science tools
- Basic Arithematic Operations
- Program to convert 2000 minutes to hours.

Some of the popular languages that Data Scientists use are:

1. Python
2. Ruby
3. SQL
4. Julia
5. Scala
6. Java
7. C++

Some of the commonly used libraries used by Data Scientists include:

1. dplyr
2. ggplot
3. GGally
4. Numpy
5. Pandas

| Data Science Tools |
| ------------------ |
| Apache Spark |
| Tableau |
| Tensorflow |
| IBM Watson Studio |
| KNIME |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
min = 2000
hrs = min/60

#  This will convert 200 minutes to hours by diving by 60

print(hrs)

33.333333333333336

## Author 
Nishad Mahore